@page "/contract/{id}/check"

<EditForm Model="CheckList" OnValidSubmit="Submit">

    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="3" Class="d-flex justify-space-between px-4 py-2 mt-4">
                <MudText Typo="Typo.h5">Заводские испытания по договору @CheckList.Contract?.ContractNumber (вн.№ @CheckList.Contract?.DomesticNumber)</MudText>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Filled.Check">Сохранить</MudButton>
            </MudPaper>
        </MudItem>
        <div class="hardwarechecks">
            @for (int i = 0; i < CheckList.HardwareChecks.Count; i++)
            {
                var index = i;
                <MudItem xs="12">
                    <HardwareCheckStatus @bind-Value="CheckList.HardwareChecks[index]" />
                </MudItem>
            }

            @if (ScadaList == null)
            {
                <MudItem xs="12" Class="d-flex justify-center align-center">
                    <div class="spinner"></div>
                </MudItem>
            }
            else
            {
                @for (int i = 0; i < ScadaList.Length; i++)
                {
                    var index = i;
                    <MudItem xs="12">
                        <SoftwareCheckStatus @bind-Value="ScadaList[index]" />
                    </MudItem>
                }
            }
        </div>
    </MudGrid>

</EditForm>

