@page "/"

<MudPaper class="pa-4 mt-4">

    <MudText Typo="Typo.h5"><i><b>Спасибо, что пользуетесь CheckerApp</b>!</i></MudText>
    <MudText Class="mt-2" Typo="Typo.subtitle2"><i>Мы работаем, чтобы вы могли работать меньше.</i></MudText>
    <MudDivider Class="my-2" />

    <div class="scroller">
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.6:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Новая архитектура приложения" />
                    <MudListItem Text="2. Новый дизайн пользовательского интерфейса" />
                    <MudListItem Text="3. Система авторизации вынесена во внешние сервисы" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.5:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Добавлен новый тип оборудования - модуль ОПС" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.4:</b></MudText>
                <MudList DisablePadding="true" DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Добавлен новый тип оборудования - ИБП" />
                    <MudListItem Text="2. Добавлен новый тип оборудования - датчик пламени" />
                    <MudListItem Text="3. Добавлен функционал редактирования подключенного сетевого оборудования" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.3:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Добавлен новый тип оборудования - информационное табло" />
                    <MudListItem Text="2. Добавлен функционал всплывающих оповещений" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.2:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Добавлен новый тип оборудования - датчик загазованности" />
                    <MudListItem Text="2. Добавлен функционал сортировки для таблиц договоров, оборудования и ПО (клик ЛКМ на заголовок столбца)" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.1:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Исправлена ошибка, при которой некорректно добавлялся ИВК, если не указана дата последней конфигурации" />
                    <MudListItem Text="2. Исправлена ошибка при которой выпадающий список добавляемого оборудования не помещался в окне" />
                    <MudListItem Text="3. Добавлен новый тип оборудования - датчик перепада давления" />
                    <MudListItem Text="4. Добавлен функционал для импорта оборудования из файла Eplan (в текущей версии данная функция заблокирована)" />
                </MudList>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true"><b>Изменения в версии 1.0.0:</b></MudText>
                <MudList DisableGutters="true" Dense="true">
                    <MudListItem Text="1. Редактирование параметров программного обеспечения" />
                    <MudListItem Text="2. Добавлена страница с информацией об аккаунте" />
                    <MudListItem Text="3. Изменения в дизайне" />
                    <MudListItem Text="4. Исправлены мелкие ошибки" />
                </MudList>
            </MudItem>
        </MudGrid>
    </div>
</MudPaper>