
.subheader td:first-child {
    width: auto;
    padding-right: 2rem;
}

.subheader td:nth-child(even) {
    font-weight: bold;
    padding-right: 4rem;
}

.subheader td:last-child {
    padding-right: 0;
}
