
.logo {
    font-family: cursive, 'Roboto', sans-serif;
    font-weight: bold;
    color: #dec;
    font-size: 1.6rem;
    text-shadow: 2px 2px 4px #888;
}

    .logo > .logo-left {
        text-shadow: 2px 2px 3px #000;
    }

    .logo > .logo-right {
        background: #dec;
        border-radius: 5px;
        padding: 5px;
        color: #000;
        margin-left: 0.5rem;
    }
