<div class="col">
    <div class="border p-2">
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Позиция по проекту" @bind-Value="Value.Position" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> Value.Position"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Тип прибора" @bind-Value="((FlowmeterVm)Value).DeviceType" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((FlowmeterVm)Value).DeviceType"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Модель прибора" @bind-Value="((FlowmeterVm)Value).DeviceModel" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((FlowmeterVm)Value).DeviceModel"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudNumericField Label="Нижний предел измерений" @bind-Value="((FlowmeterVm)Value).MinValue"
                                 Format="F1" Variant="Variant.Outlined"></MudNumericField>
                <ValidationMessage For="()=> ((FlowmeterVm)Value).MinValue"></ValidationMessage>
            </div>
            <div class="col">
                <MudNumericField Label="Верхний предел измерений" @bind-Value="((FlowmeterVm)Value).MaxValue"
                                 Format="F1" Variant="Variant.Outlined"></MudNumericField>
                <ValidationMessage For="()=> ((FlowmeterVm)Value).MaxValue"></ValidationMessage>
            </div>
            <div class="col">
                <MudSelect Label="Единицы измерения" @bind-Value="((FlowmeterVm)Value).EU" Variant="Variant.Outlined">
                    @foreach (var item in euArray)
                    {
                        <MudSelectItem Value="item">@item</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudNumericField @bind-Value="((FlowmeterVm)Value).Kfactor"
                                       Label="К-фактор"
                                       Format="F1"
                                       Variant="Variant.Outlined"></MudNumericField>
                <ValidationMessage For="()=> ((FlowmeterVm)Value).Kfactor"></ValidationMessage>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <MudSelect @bind-Value="((FlowmeterVm)Value).SignalType" Label="Способ подключения" Variant="Variant.Outlined">
                    @foreach (var item in signals)
                    {
                        <MudSelectItem Value="item">@item.GetDisplayName()</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
    </div>
</div>
@if (((FlowmeterVm)Value).SignalType == SignalType.RS485)
{
    <div class="col-sm-4">
        <h5>Настройки Modbus</h5>
        <ModbusSettings @bind-Value="((FlowmeterVm)Value).ModbusSettings" />
    </div>
}

@code {

    [Parameter]
    public HardwareVm Value { get; set; }

    [Parameter]
    public EventCallback<HardwareVm> ValueChanged { get; set; }

    private SignalType[] signals = Enum.GetValues(typeof(SignalType)).Cast<SignalType>().ToArray();

    private string[] euArray = { "м3", "тыс.м3", "т", "кг" };
}
