<div class="col">
    <div class="border p-2">
        <div class="row mb-2">
            <div class="col">
                <MudTextField Label="Позиция по проекту" @bind-Value="Value.Position" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> Value.Position"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MudTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MudTextField Label="Модель контроллера" @bind-Value="((PlcVm)Value).DeviceModel" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((PlcVm)Value).DeviceModel"></ValidationMessage>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <MudTextField Label="IP адрес" @bind-Value="((PlcVm)Value).IP" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((PlcVm)Value).IP"></ValidationMessage>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <MudTextField Label="Версия сборки" @bind-Value="((PlcVm)Value).AssemblyVersion" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((PlcVm)Value).AssemblyVersion"></ValidationMessage>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public HardwareVm Value { get; set; }

    [Parameter]
    public EventCallback<HardwareVm> ValueChanged { get; set; }
}
